@font-face {
    font-family: 'Hind Siliguri';
    font-weight: 300;
    src: url(../fontface/HindSiliguri-Light.ttf);
}

@font-face {
    font-family: 'Hind Siliguri';
    font-weight: 400;
    src: url(../fontface/HindSiliguri-Regular.ttf);
}

@font-face {
    font-family: 'Hind Siliguri';
    font-weight: 500;
    src: url(../fontface/HindSiliguri-Medium.ttf);
}

@font-face {
    font-family: 'Hind Siliguri';
    font-weight: 600;
    src: url(../fontface/HindSiliguri-SemiBold.ttf);
}

@font-face {
    font-family: 'Hind Siliguri';
    font-weight: 700;
    src: url(../fontface/HindSiliguri-Bold.ttf);
}